<%= form_with(model: @vehicle, local: true) do |form| %>
  <div class="mb-3">
    <%= form.hidden_field :id %>
  </div>

  <div class="mb-3">
    <%= form.label :make, class: "form-label" %>
    <%= form.text_field :make, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :model, class: "form-label" %>
    <%= form.text_field :model, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :year, class: "form-label" %>
    <%= form.number_field :year, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :color, class: "form-label" %>
    <%= form.text_field :color, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Update Vehicle", class: "btn btn-primary" %>
  </div>
<% end %>
