<!DOCTYPE html>
<html>
  <head>
    <title>HotwireDemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body data-bs-theme="dark" class='bg-black'>
    <%= render partial: 'shared/header' %>
      <div class='container p-3'>
        <div id='turbo_flash'></div>
        
        <%= yield %>
      </div>
  </body>
</html>
